body {
  width: 320px;
}

#activePresets {
  list-style: none;
  padding: 0;
}

#activePresets li {
  display: inline-block;
  background: #1a56db;
  border-radius: 24px;
  padding: 6px 12px;
  font-size: 0.75rem;
  color: white;
  margin-right: 8px;
  margin-bottom: 8px;
}
